version: '3.8'

services:
  jenkins:
    image: jenkins/jenkins:lts
    container_name: crypto-jenkins
    user: root
    ports:
      - "8081:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
      # Mount workspace for Jenkins to access source code
      # Note: This mounts the entire project directory
      - ${PWD}/..:/workspace:ro
    environment:
      - JENKINS_OPTS=--httpPort=8080
    extra_hosts:
      # Add host.docker.internal for accessing host services (works on Mac/Windows)
      # On Linux, this will be resolved to the host gateway IP
      - "host.docker.internal:host-gateway"
    restart: unless-stopped
    networks:
      - jenkins-network

volumes:
  jenkins_home:
    driver: local

networks:
  jenkins-network:
    driver: bridge
